* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f1f1f1;
}

.app-container {
    display: flex;
    height: 100vh;
}

/* LEFT PANEL */

.left-panel {
    width: 25%;
    background: #ffffff;
    border-right: 2px solid #e0e0e0;
    padding: 20px;
    overflow-y: auto;
}

.left-panel h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.add-worker-btn {
    width: 100%;
    padding: 12px;
    border: none;
    background: #4CAF50;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.worker-list {
    list-style: none;
}

/* FLOOR MAP */

.floor-map {
    width: 100%;
    position: relative;

    /* BACKGROUND IMAGE */
    background-image: url("plan.jpg");
    background-size: cover;
    background-position: center;
}

/* Zones */
.zone {
    position: absolute;
    /* background: rgba(255, 255, 255, 0.78); */
    padding: 10px;
    border-radius: 10px;
    width: 190px;
    min-height: 95px;
    border: 2px solid #ccc;
}


.zone-title {
    font-weight: bold;
    font-size: 15px;
}

/* Button + */
.add-btn {
    margin-top: 8px;
    padding: 5px 8px;
    border: none;
    background: #2196F3;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}


/* POSITIONNEMENT DES ZONES */

.conference {
    top: 6px;
    left: 3px;
    height: 34%;
    width: 37%;
    overflow: scroll;
}

.reception {
    top: 295px;
    left: 5px;
    height: 64%;
    width: 37%;
}

.servers {
    top: 17px;
    right: 267px;
    height: 34%;
    width: 25%;
     overflow: scroll;
}

.security-room {
    top: 18px;
    right: 0px;
    height: 34%;
    width: 19%;
     overflow: scroll;
}

.staff-room {
    bottom: 14px;
    right: 269px;
    height: 33%;
    width: 25%;
     overflow: scroll;
}

.archive {
    bottom: 10px;
    right: 0px;
        height: 33%;
    width: 20%;
     overflow: scroll;
}
